<div class="gallery" *ngIf="photos$ | async as photos; else loadingOrError">
  <div class="photo" *ngFor="let photo of photos">
    <a class="photo_thumb" [routerLink]="['/photo', photo.id]"><img [src]="photo.urls.thumb" [alt]="photo.alt_description" /></a>
    <div class="photo_id">ID#: {{photo.id}}</div>
    <div class="photo_desc">Description: {{photo.description}}</div>
    <div class="photo_likes">Likes: {{photo.likes}}</div>
  </div>
</div>
<ng-template #loadingOrError>
  <div *ngIf="photosErr$ | async; else loading">
    Error loading the gallery items. Please try again later.
  </div>
  <ng-template #loading>Loading...</ng-template>
</ng-template>
